@charset "UTF-8";

@font-face {
  font-family: 'vogue';
  src: url('../fontes/Vogue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

  font-family: 'caviar';
  src: url('../fontes/CaviarDreams.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

  font-family: 'coolvetica';
  src: url('../fontes/coolvetica\ rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;

  /* 
  Tipos de format()
  - opentype (otf)
  - truetype (ttf)
  - embedded-opentype
  - truetype-aat (Apple Advanced Typography)
  - svg
  */
}

*{
  margin: 0px;
  padding: 0px;
}

header{
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header h2{
  font-family: 'vogue', Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: lighter;
}

header div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > div > section{
  display: none;
}

menu{
  display: none;
}

li{
  list-style-type: none;
  text-align: center;
}

span#menu{
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding-top: 5px;
}

menu > ul > li > a{
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  font-family: 'coolvetica', Arial, Helvetica, sans-serif;
}

div#conjunto-verao{
  display: none;
}

div#rolagem2{
  display: flex;
  flex-direction: column-reverse;
}

.texto-rolagem2{
  margin-top: 90px;
  padding-left: 40px;
}

.texto-rolagem2 h2{
  font-family: 'coolvetica', Arial, Helvetica, sans-serif;
  font-weight: lighter;
  padding: 5px;
}

.texto-rolagem2 h1{
  color: #f47ad3;
  font-size: 3em;
  font-weight: 600;
}

.texto-rolagem2 p{
  font-family: 'coolvetica', Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: rgba(153, 153, 153, 0.692);
  padding-bottom: 10px;
  padding-left: 2px;
}


.imagem-rolagem2 > img{
  display: block;
  margin: auto;
  padding-bottom: 10vw;
  padding-top: 0vw;
}

.texto-rolagem2 a{
  font-family: 'coolvetica', Arial, Helvetica, sans-serif;
  color: #f47ad3;
  text-decoration: none;
  font-size: 1.4em;
  padding-left: 2px;
}

.imagem-rolagem2 > article{
  margin-top: -220px;
  text-align: center;
}

.imagem-rolagem2  h2{
  font-family: 'vogue', Arial, Helvetica, sans-serif;
  color: white;
  font-weight: lighter;
  font-size: 2.5em;
  padding: 10px;
}

.imagem-rolagem2 p{
  color: white;
  font-family: 'coolvetica', Arial, Helvetica, sans-serif;
  font-weight: lighter;
  padding-bottom: 5px;
  padding-left: 10px;
}

.imagem-rolagem2 a{
  color: #cb24d1;
  font-family: 'coolvetica', Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.produtos1{
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

section.novidades-titulo{
  text-align: center;
  font-family: 'coolvetica' , Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}

#novidades h2{
  font-weight: lighter;
  padding: 30px 10px 10px 10px;
}

#novidades a{
  color: #f47ad3;
  font-family: 'coolvetica', Arial, Helvetica, sans-serif;
}

#novidades img{
  height: 270px;
  width: 180px;
}

section.novidades-produtos h3{
  text-align: center;
  padding-bottom: 3px;
}

section.novidades-produtos p{
 padding-left: 50px;
 padding-bottom: 0px;
}

section.novidades-produtos .valor{
  color: #eb45bf;
  padding-left: 60px;
}

div#conjunto-inverno{
 text-align: center;
 padding-top: 30px;
 padding-bottom: 15px;
}

footer{
  font-family: 'coolvetica', Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

footer h3{
  color: #ff60d2;
  font-weight: lighter;
  font-size: 24px;
  letter-spacing: 1px;
}

footer h3, p{
  padding: 0px 0px 13px 8vw;
}

section.pagamento{
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
}

section.pagamento h3{
  padding-bottom: 20px;
}

section.pagamento img{
  padding-left: 6vw;
}

footer img.instagram{
  padding-left: 38px;
}
